body{
/*background-image: url(n.jpg);
background-repeat: no-repeat; */
background-color: #14060d;
color: #f3d8e5;
font-weight: bold;
}

.slider{
   -webkit-appearance: none;
   width: 40%;
   height: 30px;
   background:  #e96fac;
   outline: none;
   opacity: 0.7;
   -webkit-transition: 0.2s;
   transition:  0.2s;
   border-radius: 10px;
   box-shadow: 0px 1px 10px 1px #edc4d9;
}

.slider :hover{
   opacity: 1;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   border-radius: 10px;
   background: white;
   cursor: pointer;
 }
